
body{

    background : url(../imgs/pattern_chef_2.png) no-repeat;
    background-repeat: repeat;
    background-size: 5vmin;
    width:100%;
    height:100%;
    padding-bottom: 50px;
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}



/******* Basic layout *********/

.margin_top_10 {
    margin-top: 10px;
}

.margin_top_20 {
    margin-top: 20px;
}

.margin_bottom_10 {
    margin-bottom: 10px;
}



/******** Typography *********/

.sectionTitle {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    top: 50%;
    position: absolute;
    margin-top: -3vmin;
}

@media (min-width: 375px) {    /* iPhone6 */
    .sectionTitle {
        font-size: 5vmin;
    }
}

@media (min-width: 576px) {   /* sm */
    .sectionTitle {
        font-size: 2.7vmin;
    }
}

/*@media (min-width: 768px) {   !* md  iPad *!*/
    /*.sectionTitle {*/
        /*font-size: 2.7vmin;*/
    /*}*/
/*}*/

/*@media (min-width: 992px) {  !* lg *!*/
    /*.sectionTitle {*/
        /*font-size: 2.7vmin;*/
    /*}*/
/*}*/

/*@media (min-width: 1024px) {  !* iPad pro *!*/
    /*.sectionTitle {*/
        /*font-size: 2.7vmin;*/
    /*}*/
/*}*/

@media (min-width: 1200px) { /* xl */
    .sectionTitle {
        font-size: 2.7vmin;
    }
}


.subTitle {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #fff;
    padding-bottom: 1em;
}

@media (min-width: 375px) {    /* iPhone6 */
    .subTitle {
        font-size: 5vmin;
    }
}

@media (min-width: 576px) {   /* sm */
    .subTitle {
        font-size: 2.7vmin;
    }
}

@media (min-width: 1200px) { /* xl */
    .subTitle {
        font-size: 2.7vmin;
    }
}


.subSubTitle {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #fff;
}

@media (min-width: 375px) {    /* iPhone6 */
    .subSubTitle {
        font-size: 2.7vmin;
    }
}

@media (min-width: 576px) {   /* sm */
    .subSubTitle {
        font-size: 1.8vmin;
    }
}

@media (min-width: 1200px) { /* xl */
    .subSubTitle {
        font-size: 1.8vmin;
    }
}

.nameTitle {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    line-height: 3.5vmin;
    letter-spacing: 0.02em;
}

@media (min-width: 375px) {    /* iPhone6 */
    .nameTitle {
        font-size: 5.5vmin;
        line-height: 6.7vmin;
    }
}

@media (min-width: 576px) {   /* sm */
    .nameTitle {
        font-size: 3.2vmin;
        line-height: 3.8vmin;
    }
}

@media (min-width: 1200px) { /* xl */
    .nameTitle {
        font-size: 3.2vmin;
        line-height: 3.8vmin;
    }
}

.kitchenTitle {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    line-height: 3vmin;
    letter-spacing: 0.02em;
    color: #fff;
}

@media (min-width: 375px) {    /* iPhone6 */
    .kitchenTitle {
        font-size: 5vmin;
        line-height: 6.2vmin;
    }
}

@media (min-width: 576px) {   /* sm */
    .kitchenTitle {
        font-size: 2.7vmin;
        line-height: 3.2vmin;
    }
}

@media (min-width: 1200px) { /* xl */
    .kitchenTitle {
        font-size: 2.7vmin;
        line-height: 3.2vmin;
    }
}


.foodTitle {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 3vmin;
    line-height: 3.5vmin;
    letter-spacing: 0.02em;
    text-align: center;
}

.headTitle {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #fff;
    font-size: 3.5vmin;
    text-align: center;
}


.mainText {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0.01em;
}

@media (min-width: 375px) {    /* iPhone6 */
    .mainText {
        font-size: 3.2vmin;
        line-height: 3.8vmin;
    }
}

@media (min-width: 576px) {   /* sm */
    .mainText {
        font-size: 2.2vmin;
        line-height: 3vmin;
    }
}

@media (min-width: 1200px) { /* xl */
    .mainText {
        font-size: 2.2vmin;
        line-height: 3vmin;
    }
}



/******** Nav Buttons *******/

.nav_home_container,
.nav_chef_container,
.nav_cooking_container {
    float: right;
    display: inline-block;
    width: 7vmin;
    height: 7vmin;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    position: relative;
    margin-left: 2vmin;
    margin-top: 1vmin;
    /*box-shadow: 3px 3px 5px rgba(0,0,0,0.5);*/
    padding: 0.8vmin;
}

.nav_home_container:hover, .nav_home_container:focus {
    background-color: #ff908f;
}

.nav_chef_container:hover, .nav_chef_container:focus {
    background-color: #edba1f;
}

.nav_cooking_container:hover, .nav_cooking_container:focus {
    background-color: #99cccc;
}

.nav_home, .nav_chef, .nav_cooking {
    width: 70%;
    position: absolute;
    top: 17%;
    left: 17%;
}

/* Checkout Basket */

.basketBottom {
    background : url(../imgs/pattern_checkout_2.png);
}


/************ Buttons for Both Sections *************/

.see_btn_container,
.see_menu_btn_container,
.see_other_btn_container,
.see_more_btn_container,
.buy_btn_container,
.price_btn_container,
.submit_btn_container {
    width: 7vmin;
    height: 7vmin;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    display: table;
    position: absolute;
    bottom: 5vmin;
    border: 1px solid #ffffff;
}

.see_other_btn_container,
.submit_btn_container {
    bottom: 2vmin;
}

.see_menu_btn_container {
    right: 1.25rem;
}

@media (min-width: 375px) {    /* iPhone6 */
    .see_menu_btn_container {
        bottom: 2vmin;
    }
}

@media (min-width: 576px) {   /* sm */
    .see_menu_btn_container {
        bottom: 1vmin;
    }
}

@media (min-width: 1200px) { /* xl */
    .see_menu_btn_container {
        bottom: 1vmin;
    }
}

.see_more_btn_container {
    bottom: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -5vmin;
}

.buy_btn_container,
.price_btn_container {
    width: 10vmin;
    height: 10vmin;
}

.see_btn_container:hover,
.see_btn_container:focus,
.see_menu_btn_container:hover,
.see_menu_btn_container:focus,
.see_other_btn_container:hover,
.see_other_btn_container:focus,
.see_more_btn_container:hover,
.see_more_btn_container:focus {
    background-color: #d85856;
}

.buy_btn_container:hover,
.buy_btn_container:focus,
.submit_btn_container:hover,
.submit_btn_container:focus {
    background-color: #ff908f;
    cursor: pointer;
}


.button_title, .buy_button_title, .priceNum {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 60%;
    letter-spacing: 0.02em;
    color: #fff;
}

.buy_button_title {
    font-size: 80%;
}

.priceNum {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 3.5vmin;
    /*line-height: 3.9vmin;*/
    letter-spacing: 0.02em;
}


/****** Section Title ******/

.chef-icon {
    position: absolute;
    left: 50%;
    top: 50%;
}

@media (min-width: 375px) {    /* iPhone6 */
    .chef-icon {
        width: 10%;
        margin-left: -5%;  /* half of width to be center position */
        margin-top: -15%;
    }
}

@media (min-width: 576px) {   /* sm */
    .chef-icon {
        width: 10%;
        margin-left: -5%;  /* half of width to be center position */
        margin-top: -20%;
    }
}

@media (min-width: 768px) {   /* md  iPad */
    .chef-icon {
        width: 10%;
        margin-left: -5%;  /* half of width to be center position */
        margin-top: -17%;
    }
}

@media (min-width: 992px) {  /* lg */
    .chef-icon {
        width: 15%;
        margin-left: -7.5%;  /* half of width to be center position */
        margin-top: -25%;
    }
}

@media (min-width: 1024px) {  /* iPad pro */
    .chef-icon {
        width: 15%;
        margin-left: -7.5%;  /* half of width to be center position */
        margin-top: -25%;
    }
}

@media (min-width: 1200px) { /* xl */
    .chef-icon {
        width: 15%;
        margin-left: -7.5%;  /* half of width to be center position */
        margin-top: -25%;
    }
}



/****** Input form *******/


.inputWords {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 2.2vmin;
    /*line-height: 1em;*/
    letter-spacing: 0.02em;
    color: #ffffff;
}

/* placeholder text color: as focused, its opacity changes*/

input[type="text"]::-webkit-input-placeholder { /* Chrome */
    color: #ffffff !important;
    transition: opacity 250ms ease-in-out;
}
input[type="text"]:focus::-webkit-input-placeholder { /* Chrome */
    opacity: 0.3;
}

input[type="text"]:-ms-input-placeholder { /* IE 10+ */
    color: #ffffff !important;
    transition: opacity 250ms ease-in-out;
}
input[type="text"]:focus:-ms-input-placeholder { /* IE 10+ */
    opacity: 0.3;
}


input[type="text"]::-moz-placeholder { /* Firefox 19+ */
    color: #ffffff !important;;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}
input[type="text"]:focus::-moz-placeholder { /* Firefox 19+ */
    opacity: 0.3;
}

input[type="text"]:-moz-placeholder { /* Firefox 4 - 18 */
    color: #ffffff !important;;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}
input[type="text"]:focus:-moz-placeholder { /* Firefox 4 - 18 */
    opacity: 0.3;
}




/******** Colors ********/

.burgundy-bg {
    background-color: #d85856; /* RGB (217, 88, 86) */
}

.burgundyLight-bg {
    background-color: #ff908f; /* RGB (246, 144, 104) */
}

.orange-bg{
    background-color: #ed9421; /* RGB (237, 148, 33) */
}

.orangeLight-bg {
    background-color: #edba1f;  /* RGB (237, 186, 31) */
}

.green-bg {
    background-color: #009999; /* RGB (0, 153, 153) */
}

.greenLight-bg {
    background-color: #99cccc; /* RGB (153, 204, 204) */
}

.white-bg {
    background-color: #ffffff;
}



.orange-font{
    color: #ed9421; /* RGB (237, 148, 33) */
}

.orangeLight-font {
    color: #edba1f;  /* RGB (237, 186, 31) */
}

.white-font {
    color: #ffffff;
}

.burgundy-font {
    color: #d85856; /* RGB (217, 88, 86) */
}

.burgundyLight-font {
    color: #ff908f; /* RGB (246, 144, 104) */
}

.green-font {
    color: #009999; /* RGB (0, 153, 153) */
}

.tooDarkGray-font {
    color: #3e3e3e; /* RGB (105,105,105) */
}

.gray-font {
    color: #808080; /* RGB (128,128,128) */
}

